body {
    padding-top: 50px;
}

#index-div {
    /*margin-left:10%;*/
    /*background: white;*/ /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(gray, white);*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(gray, white);*/ /*For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(gray, white);*/ /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(gray, white);*/ /* Standard syntax */
}

#back-index {
    /*background: white;
    background: -webkit-linear-gradient(gray, white);
    background: -o-linear-gradient(gray, white);
    background: -moz-linear-gradient(gray, white);*/
    /*background: linear-gradient(rgb(82, 82, 82,1), rgba(0,0,0,0));*/
}

#carousel-example-generic {
    position: relative;
    height: calc(100% - 50px);
    width: 100%;
}

.img-slide {
    position: relative;
    margin: auto;
}


.slider_font_tit {
    font-family: 'Lora', serif;
    font-size: 90px;
    position: relative;
    margin-top: calc(-50% + 50px);
}

.slider_font_cont {
    font-family: 'Lora', serif;
    font-size: 50px;
    color: #d7d7d7;
}


#content-pag-principal {
    width: 80%;
    margin: auto;
}

#index-tit {
    font-size: 90px;
}

@media(max-width:768px) {
    #index-tit {
        font-size: 50px;
    }

    #btn_account {
        position: relative;
        width: 125px;
        margin: 0 auto;
    }

    #carousel-example-generic {
        position: relative;
        width: 100%;
    }


    .slider_font_tit {
        font-family: 'Lora', serif;
        font-size: 20px;
        position: relative;
        margin-top: calc(-50% + 50px);
    }

    .slider_font_cont {
        font-family: 'Lora', serif;
        font-size: 150px;
        color: #d7d7d7;
    }

    .imgs_pag_principar {
        vertical-align: middle;
        position: absolute;
        width: 100%;
    }

    #content-pag-principal {
        width: 92%;
        margin: auto;
    }

    #back-folder {
        background-color: aqua;
        margin-left: -100px;
    }
}

.imgs_pag_principar {
    position: relative;
    width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
