@using Microsoft.AspNet.Http;

@Html.Partial("~/Views/MultiMedia/PlayerVideo.cshtml")




<div class="bg-image" style="position:absolute;background-color:#1d1d1d">
    <br />
    <div class="center-block" style="width:80%;color:#ffffff">
        <h2>Ayuda</h2>
        <p>
            En esta sección te presentamos una serie de video tutoriales los cuales te ayudaran
            a aprender cómo manejar la plataforma MProject.
        </p>
    </div>


    <div class="center-block" style="background-color:rgba(0, 0, 0, 0.36);width:80%;position:relative;padding:10px">

        <div class="row">
            <!-- ------------- Registro de Usuarios ------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Registro%20de%20usuario.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Registro de Usuarios</h4>
                        <p style="color:#8d8d8d">
                            Aquí aprenderás a registrar un nuevo usuario desde la página principal de MProject Web.
                            <br />
                            Recuerda que la aplicación de escritorio podrás descargarla desde la página web solo cuando hayas iniciado sesión.
                        </p>
                    </div>
                    
                </div>
            </div>
            <!-- ------------- Creacion de Plantillas ------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Creaacion%20de%20plantillas.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Creación de Plantillas</h4>
                        <p style="color:#8d8d8d">
                            Con este video tutorial aprenderás a crear plantillas, las cuales son indispensables a la hora de crear un nuevo proyecto.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------- Creacion de Proyectos ------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Creacion%20de%20proyectos.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Creación de Proyectos</h4>
                        <p style="color:#8d8d8d">
                            Con este tutorial aprenderás a crear proyectos, además implícitamente te indicara como manejar
                            los recursos financieros y el inventario.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------- Creacion de Actividades------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Creacion%20de%20Actividad%20y%20Subactividades.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Creación de Actividades y Subactividades</h4>
                        <p style="color:#8d8d8d">
                            Aquí te enseñaremos a crear actividades dentro de un proyecto, y a crear subactividades dentro de una actividad. <br />
                            Además, observaras como se realiza el manejo del inventario como de los recursos financieros.
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <!--  -----------------------------           -->
        <div class="row">
            <!-- ------------ Asignar Actividad -------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Asignar%20actividad.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Asignar Actividad</h4>
                        <p style="color:#8d8d8d">
                            Con este tutorial, aprenderás como asignar una actividad a un usuario.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------ Primer Inicio de sesion -------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Inicio%20Sesion%20primera%20vez%20sin%20datos.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Primer Inicio de Sesión</h4>
                        <p style="color:#8d8d8d">
                            Con este video, conocerás como es el primer inicio de sesión que se da en MProject Escritorio.
                        </p>

                    </div>

                </div>
            </div>
            <!-- ------------ Descargar Actualizaciones ------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Actualizar%20repositorio%20cuando%20hay%20datos.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Descargar Actualizaciones</h4>
                        <p style="color:#8d8d8d">
                            Aquí te darás cuenta como debes de descargar las actualizaciones correspondientes a tus proyectos.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------ Cargar informacion ------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Subir%20Actualizaciones.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Subir Actualizaciones</h4>
                        <p style="color:#8d8d8d">
                            Cuando creas proyectos, actividades, subactividades o cualquier otra operación
                            se crean ítems a ser cargados (Actualizaciones).
                            Aquí veras como subir esas actualizaciones al servidor.
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <!--  -----------------------------           -->
        <div class="row">
            <!-- ------------ Modulo Multimedia - Cargar imagen -------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Multimedia%20Cargar%20imagen.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Cargar Imagen</h4>
                        <p style="color:#8d8d8d">
                            En este video, aprenderás a utilizar el modulo multimedia, el cual te permitirá
                            gestionar todos tus contenidos multimedia y demás archivos.
                            <br />
                            A continuación, tendrás como ejemplo el cargar una imagen. Para cargar otro tipo
                            de archivo se sigue la misma lógica que se presenta a continuación.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------ Publicacion web -------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Publicacion%20Web.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Publicacion Web</h4>
                        <p style="color:#8d8d8d">
                            Aquí aprenderás a utilizar el diseñador web para crear tus páginas web.
                            <br />
                            Además, también veras el proceso necesario para subir y habilitar el acceso a tu página web desde MProject Web.
                        </p>
                    </div>

                </div>
            </div>
            <!-- ------------ Visualizar Superior -------------- -->
            <div class="col-md-3 x">
                <div class="pan-vid">
                    <div style="padding:10px">
                        <img class="img-responsive goVid" src="~/img/LogoMP.png"
                             srcVid="http://knower.udenar.edu.co/mp/system/manual/Visualizar%20Superior.mp4" />
                    </div>

                    <div style="padding:10px;background-color:#161616">
                        <h4 style="">Visualizar Superior</h4>
                        <p style="color:#8d8d8d">
                            Con este videotutorial te daras cuenta como es el funcionamiento de la opcion Visualizar superior, el cual
                            tiene como objetivo que tus actividedes puedan ser vistas por tus superiores.
                        </p>
                    </div>

                </div>
            </div>
            
           

        </div>

    </div>

</div>




<script>
    $(".goVid").click(function () {
        var src = $(this).attr("srcVid");
      //  var source = document.getElementById("vid").children;
        //var player = document.getElementById("vid");
        try{
            //var x = $("#my-video .srv");
            //x[0].setAttribute("src", src);
            //x[1].setAttribute("src", src);
            //x[2].setAttribute("src", src);
            //x[3].setAttribute("src", src);
            //x[4].setAttribute("src", src);
            $("#down-vid").attr("href",src);
            $("video:nth-child(1)").attr("src", src);
            $("video:nth-child(1)").attr("src", src);
            $("video:nth-child(1)").attr("src", src);
            $("video:nth-child(1)").attr("src", src);
            $("video:nth-child(1)").attr("src", src);
            $("video:nth-child(1)").attr("src", src);
        }
        catch (e) { alert("BAD");};
        //source[0].src = src;
        //source[1].src = src;
        //source[2].src = src;
        //source[3].src = src;
        //source[4].src = src;
        //player.load();
        //player.play();
        $("#modalVid").modal();
    });
</script>