<link href="~/css/Index.css" rel="stylesheet" />

<div class="row" >
    <!-- Slider -->
    <div id="carousel-example-generic" class="carousel slide`" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active" role="listbox">
                <img src="http://www.argentina.travel/pics/1600x686/huellas-incas-jpg" class="img-slide img-responsive" />
                <div class="carousel-caption">
                    <h1 class="slider_font_tit">Qhapaq Ñan</h1>
                    <h2 class="slider_font_cont">Colombia</h2>
                </div>
            </div>
            <div class="item">
                <img src="http://www.argentina.travel/pics/1600x686/df43e072e7.jpg" class="img-slide img-responsive" />
                <div class="carousel-caption">
                    <h1 class="slider_font_tit">Qhapaq Ñan</h1>
                    <h2 class="slider_font_cont">Colombia</h2>
                </div>
            </div>
            <div class="item">
                <img src="http://www.argentina.travel/pics/1600x686/dfd124c29b.JPG" class="img-slide img-responsive" />
                <div class="carousel-caption">
                    <h1 class="slider_font_tit">Qhapaq Ñan</h1>
                    <h2 class="slider_font_cont">Colombia</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>
    <hr />
    <!-- informacion principal de la organizacion -->
    <div id="content-pag-principal">
        <div id="as" class="row" >
            <div class="col-lg-4 col-md-12" style="position:relative;">
                <img src="http://www.argentina.travel/pics/1600x686/9d316e1a16.jpg" class="imgs_pag_principar" style="position:relative" />
            </div>
            <div class="col-lg-8 col-md-12" style="position:relative">
                <h3>
                    Qhapaq Ñan
                </h3>
                <p>
                    Columna vertebral del poder político y económico del Tawantisuyo –el imperio Inca- el Qhapaq Ñan (en quechua, “camino principal”) constituyó una red de caminos de más de 30.000 kilómetros de extensión que conectaba importantes centros de producción, administrativos y ceremoniales. Su trazado ha sido, incluso, anterior al apogeo del imperio Inca: se calcula que tiene unos 2.000 años de antigüedad. Hoy atraviesa seis países andinos, partiendo desde Perú hacia el sur recorre parte de los territorios de Bolivia, Argentina y Chile y hacia el norte, los de Ecuador y Colombia. En 2014 fue declarado Patrimonio Mundial por la UNESCO.
                    <br />
                    En Argentina, el Qhapaq Ñan ingresa desde Bolivia por el pequeño poblado de Calahoyo (en la Puna, a más de 4.000 m.s.n.m.) y atraviesa desiertos, valles y montañas uniendo los territorios que hoy componen las provincias de Jujuy, Salta, Tucumán, Catamarca, La Rioja, San Juan y Mendoza, para perderse luego en la Cordillera de los Andes rumbo a Chile. En todo el territorio argentino se conservan alrededor de 119 kilómetros de este camino, a lo largo de los cuáles se pueden visitar importantes sitios arqueológicos. Recorrerlo, permite conocer los distintos aspectos de la vida de los pueblos antiguos: la vida civil, la actividad astronómica, la militar, las prácticas religiosas. Y también, compartir esta experiencia con las comunidades locales, muchas de ellas emplazadas en sitios remotos y en impactantes marcos naturales, conocer las costumbres ancestrales que han ido pasando de generación en generación, degustar la gastronomía regional. En fin, entrar en el corazón más profundo de los pueblos andinos.
                </p>
            </div>
            <br />
        </div>
        <hr />
        <div class="col-lg-8">
            <h3>
                Ritual a la Madre Tierra
            </h3>
            <p>
                Cada 1º de agosto, los pueblos andinos celebran a la Pachamama (la Madre Tierra) en una ceremonia tradicional en la que le ofrendan alimentos y bebidas, al tiempo que le piden por buenas cosechas y fecundidad para los rebaños. En Catamarca, los viajeros pueden compartir este antiguo ritual en la Corpachada puneña de la Pachamama de Laguna Blanca. Aquí, la comunidad toda se reúne en una colorida ceremonia en la que se destacan las representaciones de deidades como la propia Pachamama y el Coquena (una deidad mitológica vestida con prendas de lana de oveja y de llama).
                <br />
                La celebración se mantiene fiel a la tradición. Se selecciona el mejor ejemplar de un rebaño de ovejas para ser sacrificado en honor de la Pachamama; en tanto, el Coquena comienza a azuzar a los presentes, grupos de niños y jóvenes entonan cantos y coplas y hombres y mujeres preparan números de danza. Los artesanos muestran sus chullos, guantes, ponchos, pullos y medias de lana de llama, oveja y vicuña. Y expertas manos locales ofrecen, recién salidos de sus cocinas, los sabores más tradicionales de Catamarca: locro de maíz, carne vacuna, de cabrito y de cordero, y charqui de llama.
            </p>
        </div>
        <div class="col-lg-4" style="vertical-align:middle">
            <img src="http://www.argentina.travel/pics/1600x686/7ac6e28c8b.jpg" class="imgs_pag_principar"/>
        </div>
    </div>
</div>