@using Microsoft.AspNet.Http;

<div class="bg-image">
    @{
        //error al iniciar cesion
        try
        {
            bool st = ViewBag.errLogin;
            if (st)
            {
                <div>
                    <div class="alert alert-danger fade in center-block" style="position:absolute;width:100%">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong>No se ha iniciado session. Revise que el usuario y contraseña sean correctos.
                    </div>
                </div>
            }
        }
        catch { }
        //Mensaje acerca del registro exitoso=> verificar correo o no se ha registrado
        try
        {
            string cad = Context.Session.GetString("estReg");
            if (cad.Length > 0)
            {
                bool stR = Convert.ToBoolean(cad);
                if (stR)
                {
                    <div>
                        <div class="alert alert-success fade in center-block" style="position:absolute;width:100%">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <strong>Exito!</strong> Se ha registrado existosamente. En su correo electronico se encuentra el link de confirmacion.
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <div class="alert alert-success fade in center-block" style="position:absolute;width:100%">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> No se ha registrado. Intentelo mas tarde
                        </div>
                    </div>

                }
                Context.Session.SetString("estReg", "");
            }
        }
        catch { }
        //cambio exitoso de contraseña
        try
        {
            string cad = Context.Session.GetString("estPass");
            if (cad.Length > 0)
            {
                bool stR = Convert.ToBoolean(cad);
                if (stR)
                {
                    <div>
                        <div class="alert alert-success fade in center-block" style="position:absolute;width:100%">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <strong>Exito!</strong> En su correo electronico se encuentra su nueva clave de acceso al sistema.
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <div class="alert alert-success fade in center-block" style="position:absolute;width:100%">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> No se ha podido recuperar su contraseña. Intentelo mas tarde
                        </div>
                    </div>

                }
                Context.Session.SetString("estPass", "");
            }
        }
        catch { }
        try
        {
            bool st = ViewBag.errRegister;
            if (st)
            {
                <div>
                    <div class="alert alert-danger fade in center-block" style="position:absolute;width:100%">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Error! </strong> No se ha podido realizar el registro, el correo que ha utilizado ya se encuentra registrado.
                    </div>
                </div>
            }
            ViewBag.ErrRegister = null;

        }
        catch { }
    }

    <div id="index-page" style="padding-top:50px">
        <!--  Logo y texto de MProject Inicial  -->
        <div class="row center-block" style="margin:0px;width:80%;margin-left:10%">
            <div class="col-md-4">
                <div style="color:white;margin-top:200px">
                    <h1 id="index-tit">Mproject</h1>
                    <p>Es una plataforma que te permitira administar de una mejor forma tus proyectos.</p>
                </div>
            </div>


            <img src="/img/SVG/logoTextMproject.svg"
                 class="col-md-8 center-block" style="position:relative;" />
        </div>

        <br />
        <br />
        <!-- Caracteristicas de MProject -->
        <div class="row" style="margin:0px;width:80%;margin-left:10%;color:white;position:relative">
            <!--Manejo dinamico-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/DynamicProject.svg" style="width:50%;height:50%" class="center-block" />
                <div class="center-block" style="width:80%;">
                    <h2 class="text-center">Manejo Dinamico</h2>
                    <p style="text-align:justify">
                        MProject trabaja con un enfoque orientado a proyectos, permitiendo a las personas naturales
                        u organizaciones hacer uso de esta plataforma.
                        <br />
                        Con dicho enfoque tendras la posibilidad de planear, organizar y controlar las actividades incluidas
                        aquellas que se designen a otras personas.
                    </p>
                </div>
            </div>
             <!--WEb-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/WebPlat.svg" style="width:50%;height:50%" class="center-block" />
                <div style="width:80%;" class="center-block">
                    <h2 class="text-center">Entorno Web</h2>
                    <p style="text-align:justify">
                        Te permitira visualizar todos tus proyectos, actividades, archivos y sitios web.

                    </p>
                </div>
            </div>
            <!--Desktop-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/DeskPlat.svg" style="width:50%;height:50%" class="center-block" />
                <div class="center-block" style="width:80%;">
                    <h2 class="text-center">Entorno Escritorio</h2>
                    <p style="text-align:justify">
                        Es un entorno que te permitira administar de una mejor forma tus proyectos, actividades y archivos.
                    </p>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row" style="margin:0px;width:80%;margin-left:10%;color:white;position:relative">
            <!--Busqueda-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/Search.svg" style="width:50%;height:50%" class="center-block" />
                <div style="width:80%;" class="center-block">
                    <h2 class="text-center">Busqueda</h2>
                    <p style="text-align:justify">
                        MProject cuenta con un sistema avanzado de busqueda de informacion para Imagenes,
                        Videos, Sonidos y Documentos, de una forma sensilla y eficiente. Ya que no necesitas saber
                        el nombre completo del archivo para encontrarlo, sino que el sistema al realizar la busqueda
                        en todos los campos y
                        mostrara los archivos con mayor puntuacion deacuerdo a la palabra o frase buscada, ya sea
                        segun el numero
                        de coincidencias o tambien segun cuan exacta son las palabras o frases a lo que se desea
                        encontrar.
                    </p>
                </div>
            </div>
            <!--Georreferenciacion-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/Georreferenciacion.svg" style="width:50%;height:50%" class="center-block" />
                <div class="center-block" style="width:80%;">
                    <h2 class="text-center">Georreferenciacion</h2>
                    <p style="text-align:justify">
                        Tendras la posibilidad de publicar contenidos como Imgagenes que se
                        visualizaran en un mapa virtual, permitiendo que las demas personas las
                        vean a traves de la plataforma web.
                    </p>

                </div>
            </div>
            <!--Multimedia-->
            <div class="col-md-4 center-block">
                <img src="/img/SVG/Multimedia.svg" style="width:50%;height:50%" class="center-block" />
                <div class="center-block" style="width:80%;">
                    <h2 class="text-center">Multimedia</h2>
                    <p style="text-align:justify">
                        Permitete administrar mucho mejor tus contenidos multimedia, los cuales estaran disponibles
                        en la nube para que puedas acceder a ellos desde cualquier lugar en donde te encuentres.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>