@{ 
    Layout = null;
}

<script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<h1>Links Publicos</h1>
<div id="tree"></div>

<script>

    //var x='@ViewBag.json';
    var s=@Html.Raw(ViewBag.json);
    
    var state=true;
    //alert(JSON.stringify(s));
    $('#tree').treeview({
    	levels: 1,
        data: s,         // data is not optional
        enableLinks:true
    });
    
  
    
</script>

