@{ 
    Layout = null;
}

<script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

<div id="tree"></div>

<script>

    //var x='@ViewBag.json';
    var s=@Html.Raw(ViewBag.json);

    
    var  tr=[
  {
      text: "PRUEBA WEB",
      href: "http://localhost:20539/Projects/publicprojects?p=100-1-1",
      nodes: [
        {
            text: "A",
            enableLinks: false
        },
        {
            text: "B",
            enableLinks: false,
            nodes: [
              {
                  text: "B1",
                  enableLinks: false
              },
              {
                  text: "B4 Ub",
                  enableLinks: false
              },
              {
                  text: "B2",
                  enableLinks: false,
                  nodes: [
                    {
                        text: "B2.1",
                        enableLinks: false
                    },
                    {
                        text: "B2.A  Ub",
                        enableLinks: false
                    },
                    {
                        text: "B2.2",
                        enableLinks: false,
                        //selectable: false,
                        state: {
                            enableLink: false,
                            //checked: true,
                            //disabled: true,
                            expanded: true,
                            selected: true
                        },
                        nodes: [
                          {
                              text: "B2.2.A",
                              enableLinks: false
                          },
                          {
                              text: "B2.2.B",
                              enableLinks: false
                          },
                          {
                              text: "B2.2.C",
                              enableLinks: false
                          }
                        ]
                    },
                    {
                        text: "B2.3",
                        enableLinks: false
                    }
                  ]
              },
              {
                  text: "B3",
                  enableLinks: false
              }
            ]
        },
        {
            text: "C",
            enableLinks: false
        }
      ]
  },
  {
      text: "MProject Software de apoyo a la gestion de proyectos en la facultad de ingenieria de la Universidad de Nariño",
      enableLinks: false,
      nodes: [
        {
            text: "INTRODUCCIÓN",
            href: "http://localhost:20539/Projects/publicprojects?p=100-18-3",
            color: "#183691",
            enableLinks: true,
        },
        {
            text: "PRESENTACION DEL PROYECTO",
            backColor: "#00FFFF",
            //selectable: false,
            state: {
                enableLink: false,
                //checked: true,
                //disabled: true,
                //expanded: true,
                selected: true
            }
        },
        {
            text: "MARCO TEÓRICO",
            enableLink: false
          
        },
        {
            text: "METODOLOGIA",
            enableLinks: false
        },
        {
            text: "CONCLUCIONES",
            enableLinks: false
        },
        {
            text: "RECOMENDACIONES",
            href: "http://localhost:20539/Projects/publicprojects?p=100-23-3",
            color: "#183691"
        },
        {
            text: "ANEXOS",
            enableLinks: false
        }
      ]
  }
    ];

    tr ='[{"text":"Prueba","href":"http://190.254.4.6:94/Projects/publicprojects?p=100-1-3","nodes":[{"text":"Actividad"},{"text":"Actividad 2"}]},{"text":"Facultad de Ingenieria","nodes":[{"text":"Programas","nodes":[{"text":"Ingenieria Electronica","nodes":[{"text":"Comite Curricular"},{"text":"Comite de Prueba"},{"text":"Secretaria del Programa","nodes":[{"text":"Secretaria espacial"}]}]},{"text":"Ingenieria Civil"},{"text":"Ingenieria de Sistemas","nodes":[{"text":"Comite Curricular"},{"text":"Secretaria de Programa"},{"text":"Direccion del programa"}]}]},{"text":"Concejo de la Facultad"},{"text":"Decanatura"},{"text":"Centro de Investigacion"},{"text":"Unidad Postgrados","nodes":[{"text":"Comite de postgrados"}]}]},{"text":"Prueba de Interfaces","nodes":[{"text":"Prueba Actividad"},{"text":"A2","href":"http://190.254.4.6:94/Projects/publicprojects?p=110-3-2","color":"#183691","nodes":[{"text":"A2.1","href":"http://190.254.4.6:94/Projects/publicprojects?p=110-4-2","color":"#183691"}]}]}]';

    var state=true;
    //alert(JSON.stringify(s));
    $('#tree').treeview({
        data: s,         // data is not optional
        enableLinks:true
    });
    
  
    
</script>

<h1>Hope</h1>

