<div class="modal fade" id="modalLink" role="dialog">
    <div class="modal-dialog md-dl-link">
        <div class="modal-content md-con-link">
            <div class="modal-body md-body-link">

                <div style="margin-top:10px;margin-right:20px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div style="margin-top:20px;width:auto">
                   

                        <!-- ------------------------------- -->
                        <div id="loadInfo" ></div>
                        <!-- ------------------------------- -->

                </div>
                <div style="margin-top:20px;margin-left:20px;text-align:left;font-size:12px">
                    <p>¿Ya tienes una cuenta?  <a  class="btn_log">Ingresa Ya!!!.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

