<div class="mlt-cont">
    <h1>Imagenes</h1>
</div>
<div class="row " style="position:relative;width:85%;margin:auto">
    <div class="col-md-4 col-sx-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs3.4sqi.net/img/general/699x268/7050307_RsrfjFF3YX6PU1a029BKgMfKw_1EQFAUgF2faMun31w.jpg" alt="" class="img-thumbnail img-reponsive pic-min"><br>
            <p>
                Cerro Castor es una montaña para descubrir centímetro a centímetro. Por su latitud concentra la mejor calidad de nieve del país y una de las temporadas más extensas de Sudamérica.
            </p>
        </div>
    </div>
    <div class="col-md-4  col-sx-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs3.4sqi.net/img/general/699x268/7050307_yUe5fvpA9tboYVU55V-jA4JU4quBKoQqKuTx7sn2MIg.jpg" alt="" class="img-thumbnail img-reponsive pic-min"><br>
            <p>
                Ubicado en la provincia de Neuquén, este centro dispone de 16 pistas señalizadas y pisadas con una longitud esquiable de 20 km. para disfrutar de la mejor nieve
            </p>
        </div>
    </div>
    <div class="col-md-4  col-sx-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs3.4sqi.net/img/general/699x268/7050307_6lGFFZi9xpJw55nhV_GLw6mSSv_-bxcJTkzrzZDiPoQ.jpg" alt="" class="img-thumbnail img-reponsive pic-min">
            <br>
            <p>
                Sobre la Cordillera de los Andes, la naturaleza regala la belleza natural más impactante. Allí se encuentran emplazados los centros de esquí de la Argentina
            </p>
        </div>
    </div>

</div>
<div class="row " style="position:relative;width:85%;margin:auto">
    <div class="col-md-4 ">
        <div class="papers text-center pics-pub">
            <img src="https://irs0.4sqi.net/img/general/699x268/7050307_FHhwnfsk4Kr3683mNi8NuadSVMbQB9RHZH9-KQmkhww.jpg" alt="" class="img-thumbnail img-reponsive pic-min"><br>
            <p>
                Cerro Castor es una montaña para descubrir centímetro a centímetro. Por su latitud concentra la mejor calidad de nieve del país y una de las temporadas más extensas de Sudamérica.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs2.4sqi.net/img/general/699x268/7050307_tMAS0i6EgAICHcE-OQ8U2_xIkAPgSAS9tPPy3RrYb6c.jpg" alt="" class="img-thumbnail img-reponsive pic-min"><br>
            <p>
                Ubicado en la provincia de Neuquén, este centro dispone de 16 pistas señalizadas y pisadas con una longitud esquiable de 20 km. para disfrutar de la mejor nieve
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs0.4sqi.net/img/general/699x268/7050307_FHhwnfsk4Kr3683mNi8NuadSVMbQB9RHZH9-KQmkhww.jpg" alt="" class="img-thumbnail img-reponsive pic-min">
            <br>
            <p>
                Sobre la Cordillera de los Andes, la naturaleza regala la belleza natural más impactante. Allí se encuentran emplazados los centros de esquí de la Argentina
            </p>
        </div>
    </div>

</div>
<div class="row " style="position:relative;width:85%;margin:auto">
    <div class="col-md-4 ">
        <div class="papers text-center pics-pub">
            <img src="https://irs3.4sqi.net/img/general/699x268/7050307_vS7xvhacZKhnm84xfEOGtk5JtbCsOkChEX-VI3zE7-4.jpg" alt="" class="img-thumbnail img-thumbnail img-reponsive pic-min"><br>
            <p>
                Cerro Castor es una montaña para descubrir centímetro a centímetro. Por su latitud concentra la mejor calidad de nieve del país y una de las temporadas más extensas de Sudamérica.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs2.4sqi.net/img/general/width960/17280928_Qb8Kw3qKuMzOanN-_rBGg5iS3Z8qvvWOuVJ12OY1ksw.jpg" alt="" class="img-thumbnail pic-min"><br>
            <p>
                Ubicado en la provincia de Neuquén, este centro dispone de 16 pistas señalizadas y pisadas con una longitud esquiable de 20 km. para disfrutar de la mejor nieve
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="papers text-center pics-pub">
            <img src="https://irs2.4sqi.net/img/general/width960/25766476_KNW-wT-6AS0Ja4NqI7S2AsZMdeXclJutsT4BtBU4ZS8.jpg" alt="" class="img-thumbnail pic-min">
            <br>
            <p>
                Sobre la Cordillera de los Andes, la naturaleza regala la belleza natural más impactante. Allí se encuentran emplazados los centros de esquí de la Argentina
            </p>
        </div>
    </div>

</div>