<link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<div class="modal fade" id="modalVid" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div>
                    <!-- ------------------------------------------------------------------ -->
                    <!-- ------------------------------------------------------------------ -->


                    <video id="vid" style="position:relative;width:90%;height:100%;margin-left:5%"
                           controls="controls" tabindex="0">
                        <source class="srv" src="" type="video/mp4">
                        <source class="srv" src="" type="video/ogg">
                        <source class="srv" src="" type="video/webm">
                        <source class="srv" src="" type='video/x-matroska'>
                    </video>

                    

                    <!-- ------------------------------------------------------------------ -->
                    <!-- ------------------------------------------------------------------ -->
                </div>
            </div>
        </div>
    </div>
</div>


