<h1 style="margin-top:100px">POs</h1>
<script>

    // Let's test it

    sentenceOne = "too short";
    sentencetwo = "more than the max length";

    for (var i = 0; i < sentencetwo.length; i++) {
        sentencetwo = sentencetwo.replace(' ', '_');
    }
    alert(sentencetwo);
</script>