@{
    Layout = null;
}

<div class="asd">
    <h1 class="page-header">
        <!-- Title of page -->
        Recursos
        <br />
        <small>
            Actualmente cuenta con un total de:   <span style="font-size:25px;color:#0094ff">$ 800000</span>.
        </small>
    </h1>

    <p>
        Este proyecto o actividad cuento con los siguientes recursos financieros y costos
    </p>
</div>




<div class="row center-block" style="width:80%;">
    <h3 style="text-align:center">Recursos Financieros</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Descriocion del recurso</th>
                <th style="text-align:right">Unidades</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Ingreso Inicial</th>
                <td style="text-align:right">1000000</td>
            </tr>
            <tr>
                <th scope="row">Ingreso por Publicidad</th>
                <td style="text-align:right">500000</tdstyle="text-align:right">
            </tr>
            <tr class="success">
                <th scope="row" style="font-size:18px;text-align:center">Total </th>
                <th style="font-size:18px;text-align:right;">1500000</th>
            </tr>

        </tbody>
    </table>
</div>
<hr />
<div class="row center-block" style="width:80%;">
    <h3 style="text-align:center">Costos</h3>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th width="40%">Nombre</th>
                <th width="20%" style="text-align:right">Unidades</th>
                <th width="20%" style="text-align:right">Valor Unitario</th>
                <th width="20%" style="text-align:right">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Actividad A</td>
                <td style="text-align:right">1</td>
                <td style="text-align:right">200000</td>
                <td style="text-align:right">200000</td>

            </tr>
            <tr>
                <td scope="row">Actividad B</td>
                <td style="text-align:right">1</td>
                <td style="text-align:right">200000</td>
                <td style="text-align:right">200000</td>

            </tr>
           
            <tr>
                <td scope="row">Viaticos Viaje</td>
                <td style="text-align:right">2</td>
                <td style="text-align:right">150000</td>
                <td style="text-align:right">300000</td>

            </tr>
           
            <tr class="danger">
                <th scope="row" colspan="3" style="font-size:18px;text-align:center">Total </th>
                <th style="font-size:18px;text-align:right;">700000</th>
            </tr>
        </tbody>
    </table>
</div>

<br /><br /><br />

