@{
    Layout = null;
}
<div class="asd">
    <h1 class="page-header">
        <!-- Title of page -->
        Georreferenciacion
        <small>
            <!-- SubTitle of page -->
        </small>
    </h1>
</div>