@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json.Schema;
@using System.Linq;
@using Microsoft.AspNet.Http;

@{
    Layout = "/views/Shared/_LayoutUser.cshtml";
}

@{
    //cambio exitoso de contraseña
    try
    {
        string cadPass = Context.Session.GetString("estPass");
        if (cadPass.Length > 0)
        {
            bool stR = Convert.ToBoolean(cadPass);
            if (stR)
            {
                <div>
                    <div class="alert alert-success fade in center-block" style="position:relative;width:100%">
                        <a class="close" data-dismiss="alert">&times;</a>
                        Se ha actualizado con exito tu contraseña.
                    </div>
                </div>
            }

            Context.Session.SetString("estPass", "");
        }
    }
    catch { }
    try
    {
        string cadImg = Context.Session.GetString("estImg");
        if (cadImg.Length > 0)
        {
            bool stR = Convert.ToBoolean(cadImg);
            if (stR)
            {
                <div>
                    <div class="alert alert-success fade in center-block" style="position:relative;width:100%">
                        <a class="close" data-dismiss="alert">&times;</a>
                        Se ha actualizado con exito tu imagen de perfil.
                    </div>
                </div>
            }

            Context.Session.SetString("estImg", "");
        }
    }
    catch { }
    try
    {
        string cadDat = Context.Session.GetString("estDat");
        if (cadDat.Length > 0)
        {
            bool stR = Convert.ToBoolean(cadDat);
            if (stR)
            {
                <div>
                    <div class="alert alert-success fade in center-block" style="position:relative;width:100%">
                        <a class="close" data-dismiss="alert">&times;</a>
                        Se ha actualizado con exito tu Informacion.
                    </div>
                </div>
            }

            Context.Session.SetString("estDat", "");
        }
    }
    catch { }
}


<!-- Page Heading -->
<div id="asd">
    @*<div class="col-lg-12" id="asd">*@
    <h1 class="page-header">
        <small>
            <!-- SubTitle of page -->
            Bienvenido a
        </small>
         <!-- Title of page -->
        MProject

        
    </h1>

    <div style="width:80%;margin-left:10%;font-family:'Adobe Caslon Pro';" class="center-block;">
        
        <h2 style="text-align:center;font-size:50px">
            Construido para gestionar PROYECTOS
        </h2>
        <p style="font-family:'Adobe Caslon Pro';font-size:25px;text-align:center">
            MProject es una plataforma orientada a la gestion de proyectos de ambito general.
            <br />
            No solo te ayudara a gestionar proyectos, sino que tambien podras gestionar contenidos multimedia y publicaciones web, permitiendote dar a concer al mundo tus proyectos.
        </p>
        <br />
        <br />
        <p style="font-family:'Adobe Caslon Pro';font-size:17px;text-align:center">
            Para empezar a crear tus proyectos descarga MProjectDesk desde
            <a href="http://knower.udenar.edu.co/mp/system/program/Instalador.rar" style="font-size:25px">AQUI</a>
        </p>
    </div>


    @*@*</div>*@
</div>

