@using MProjectWeb.Models.Postgres;
@{
    Layout = null;
}


@{
    bool st = false;
    List<recursos> lstRes = null;
    try
    {
        st = ViewBag.st;
        lstRes = ViewBag.lstRes;
    }
    catch { }
}

<div class="asd">
    <h1 class="page-header">
        <!-- Title of page -->
        Inventario
        <small>
            <!-- SubTitle of page -->
        </small>
    </h1>

</div>

@{
    try
    {
        if (st)
        {


            <div class="row center-block" style="width:80%;">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Descriocion del recurso</th>
                            <th>Unidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var x in lstRes)
                            {
                                <tr>
                                    <td scope="row">@x.nombre_recurso</td>
                                    <td>@x.cantidad</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div>
                <div class="alert alert-warning fade in center-block" style="position:relative;width:100%">
                    <a class="close" data-dismiss="alert">&times;</a>
                    No se han encontrado recursos relacionados con este proyecto o actividad.
                </div>
            </div>
        }
    }
    catch { }
}