@{
    Layout = null;
}
<div class="asd">
    <h1 class="page-header">
        <!-- Title of page -->
        Reportes
        <small>
            <!-- SubTitle of page -->
        </small>
    </h1>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-fancyBox/source/jquery.fancybox.js"></script>
<link href="~/css/Index.css" rel="stylesheet" />
<link href="~/lib/jquery-fancyBox/source/jquery.fancybox.css" rel="stylesheet" />






<script>
    $(document).ready(function () {
        $(".word").fancybox({
            'width': 600, // or whatever
            'height': 320,
            'type': 'iframe'
        }).click();

    });
</script>
<a class="word" href="@ViewBag.doc"></a>
