@{
    Layout = null;
}
<div class="asd">
    <h1 class="page-header">
        <!-- Title of page -->
        Reportes
        <small>
            <!-- SubTitle of page -->
        </small>
    </h1>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="row center-block" style="position:relative;width:80%">

    <embed src="http://localhost:82/MP/Mproject-Tesis-Final-09-02-2017.pdf" style="width:100%;height:500px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">


</div>